# PostgreSQL Database connection string (Vercel Postgres / Neon Postgres)
DATABASE_URL="postgresql://postgres:root1234@127.0.0.1:5432/postgres?schema=public"

# Custom Database Schema
DB_SCHEMA="public"

LOGGING="false"